<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415714878972-jks1t5ellrkkbppf0vs7kilfvh2um9p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415714878972-jks1t5ellrkkbppf0vs7kilfvh2um9p6</string>
	<key>API_KEY</key>
	<string>AIzaSyAYgxns4b2iA3xykhDh03u8cF__4EHQZws</string>
	<key>GCM_SENDER_ID</key>
	<string>415714878972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>handyconnect-5b40c</string>
	<key>STORAGE_BUCKET</key>
	<string>handyconnect-5b40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415714878972:ios:e597740245e935ef7f3e79</string>
</dict>
</plist>